Author: Niamh Hogan

This notebook analyses the differences between the sexes by age in Ireland

In [37]:
# imports

import pandas as pd

In [38]:
# read in data
df = pd.read_csv('./data/Irish_population_cso.csv')

# sanity check
# df.sample(10)

In [ ]:
# drop unnecessary columns
drop_col_list = ["Statistic Label","CensusYear","UNIT"]

df.drop(columns=drop_col_list, inplace=True)

# sanity check
# print (df.head(3))

In [40]:
# Drop all ages
df = df[df["Single Year of Age"] != "All ages"]

In [41]:
# Drop all sexes
df = df[df["Sex"] != "Both sexes"]