Author: Niamh Hogan

This notebook analyses the differences between the sexes by age in Ireland

In [175]:
# imports

import pandas as pd

In [176]:
# read in data
df = pd.read_csv('./data/Irish_population_cso.csv')

# sanity check
# df.sample(10)

In [177]:
# drop unnecessary columns
drop_col_list = ["Statistic Label","CensusYear", "UNIT"]

df.drop(columns=drop_col_list, inplace=True)

# sanity check
print (df.head(3))

          Sex Single Year of Age Administrative Counties    VALUE
0  Both sexes           All ages                 Ireland  5149139
1  Both sexes           All ages   Carlow County Council    61968
2  Both sexes           All ages     Dublin City Council   592713

In [178]:
# Drop all ages
df = df[df["Single Year of Age"] != "All ages"]

In [179]:
# Drop all sexes
df = df[df["Sex"] != "Both sexes"]

In [180]:
# Replace under 1 years of age to 0
df["Single Year of Age"] = df["Single Year of Age"].str.replace("Under 1 year", "0")

In [181]:
# Remove spaces and years in ages
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html
df["Single Year of Age"] = df["Single Year of Age"].str.replace("\D", "", regex=True)

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\hniam\AppData\Local\Temp\ipykernel_25472\1885411240.py:3: SyntaxWarning: invalid escape sequence '\D'
  df["Single Year of Age"] = df["Single Year of Age"].str.replace("\D", "", regex=True)

In [185]:
# Check data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6464 entries, 3296 to 9791
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sex                      6464 non-null   object
 1   Single Year of Age       6464 non-null   int64
 2   Administrative Counties  6464 non-null   object
 3   VALUE                    6464 non-null   int64
dtypes: int64(2), object(2)
memory usage: 252.5+ KB
None

In [183]:
# Convert single year of age to int
df["Single Year of Age"] = df["Single Year of Age"].astype("int64")

In [184]:
# Convert to pivot table